@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.flex {
  display: flex; }

.container {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 110rem;
  margin: 0 auto; }

.header .container {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  align-items: center;
  position: relative; }
  @media screen and (min-width: 62.375em) {
    .header .container {
      padding: 2.4rem 0;
      border-bottom: 1px solid #b6bcc8; } }

.header__cart-dropdown {
  z-index: 2;
  border-radius: 0.8rem;
  top: 10rem;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(44, 44, 55, 0.193);
  width: calc(100% - 4.8rem);
  columns: #68707d;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(-1.6rem); }
  @media screen and (min-width: 62.375em) {
    .header__cart-dropdown {
      width: 40rem;
      right: 0rem; } }
  .header__cart-dropdown.active {
    transform: translateY(0);
    z-index: 4;
    opacity: 1;
    visibility: visible; }
  .header__cart-dropdown .dropdown__title {
    padding: 2.4rem;
    border-bottom: 1px solid #b6bcc8; }
  .header__cart-dropdown .dropdown__product {
    display: grid;
    column-gap: 0.8rem;
    grid-template-columns: min-content 1fr max-content;
    grid-template-rows: repeat(2, min-content);
    padding: 2.4rem; }
  .header__cart-dropdown .dropdown__empty {
    padding: 4.8rem 2.4rem;
    text-align: center;
    font-weight: 700;
    color: #b6bcc8; }
  .header__cart-dropdown .product-thumbnail {
    width: 5rem;
    grid-column: 1/2;
    grid-row: 1/-1; }
    .header__cart-dropdown .product-thumbnail img {
      border-radius: 0.4rem; }
  .header__cart-dropdown .product-title {
    grid-row: 1/2;
    grid-column: 2/3; }
  .header__cart-dropdown .product-price {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end; }
  .header__cart-dropdown .delete {
    grid-row: 1/-1;
    grid-column: 3/ -1;
    cursor: pointer;
    align-self: center;
    justify-self: center; }
  .header__cart-dropdown .button {
    cursor: pointer;
    margin: 0 2.4rem 2.4rem;
    box-shadow: 0px 8px 16px rgba(255, 166, 0, 0.208);
    color: white;
    border: 0;
    border-radius: 0.8rem;
    width: calc(100% - 4.8rem);
    padding: 1.6rem 0;
    font-weight: 700;
    background-color: #ff7d1a;
    display: none; }

.header__hamburger {
  cursor: pointer;
  z-index: 11; }
  @media screen and (min-width: 62.375em) {
    .header__hamburger {
      display: none; } }
  .header__hamburger span {
    transition: all 0.2s ease;
    transform-origin: 5% 45%; }
  .header__hamburger.active .line-1 {
    transform: rotate(45deg); }
  .header__hamburger.active .line-2 {
    transform: scale(0); }
  .header__hamburger.active .line-3 {
    transform: rotate(-45deg); }
  .header__hamburger span {
    width: 16px;
    height: 3px;
    display: block;
    background-color: #1d2025; }
    .header__hamburger span:not(:last-child) {
      margin-bottom: 2px; }

.header__logo {
  margin-left: 1.6rem;
  cursor: pointer; }
  @media screen and (min-width: 62.375em) {
    .header__logo {
      margin: 0; } }

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 70%;
  background-color: white;
  z-index: 10;
  padding: 9.6rem 2.4rem;
  font-weight: 700;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  visibility: hidden; }
  @media screen and (min-width: 62.375em) {
    .header__menu {
      margin-left: 6.4rem;
      position: relative;
      width: auto;
      height: auto;
      gap: 4rem;
      transform: none;
      background-color: transparent;
      visibility: visible;
      padding: 0;
      font-weight: 500;
      display: flex; } }
  .header__menu li {
    line-height: 2.6;
    position: relative; }
    @media screen and (min-width: 62.375em) {
      .header__menu li:hover::after {
        opacity: 1;
        transform: translateX(0); }
      .header__menu li::after {
        transition: all 0.2s ease;
        content: "";
        position: absolute;
        bottom: -24px;
        opacity: 0;
        left: 0;
        width: 100%;
        transform: translateX(-16px);
        height: 4px;
        display: block;
        background-color: #ff7d1a; } }
  .header__menu.active {
    visibility: visible;
    transform: translateX(0);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.729); }

.header__cart {
  margin-left: auto;
  cursor: pointer;
  position: relative; }
  .header__cart .notification {
    position: absolute;
    font-size: 1rem;
    background-color: #ff7d1a;
    border-radius: 100px;
    padding: 0 8px;
    font-weight: 700;
    color: white;
    top: -8px;
    right: -8px;
    display: none; }

.header__profile {
  cursor: pointer;
  width: 3.2rem;
  margin-left: 2.4rem; }

@media screen and (min-width: 62.375em) {
  .product {
    gap: 12.8rem;
    display: flex;
    max-width: 110rem;
    margin: 0 auto;
    padding: 9.4rem 0; } }

.product__carousel {
  position: relative;
  overflow-x: hidden; }
  @media screen and (min-width: 62.375em) {
    .product__carousel {
      flex: 1; } }
  .product__carousel .controls {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 4.8rem);
    z-index: 3; }
    @media screen and (min-width: 62.375em) {
      .product__carousel .controls {
        display: none; } }
  .product__carousel .arrow {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .product__carousel .arrow.left img {
      margin-left: -4px; }
    .product__carousel .arrow.right img {
      margin-right: -4px; }
  .product__carousel .image-container {
    display: flex;
    transform: translateX(0%);
    transition: all 0.5s ease; }
    @media screen and (min-width: 62.375em) {
      .product__carousel .image-container > * {
        border-radius: 1.6rem; } }
  .product__carousel input[type="radio"] {
    display: none; }
  .product__carousel input[type="radio"]:checked + .thumbnail {
    border: 2px solid #ff7d1a; }
    .product__carousel input[type="radio"]:checked + .thumbnail img {
      filter: opacity(0.5); }
  .product__carousel .thumbnail-container {
    display: none; }
    @media screen and (min-width: 62.375em) {
      .product__carousel .thumbnail-container {
        margin-top: 2.4rem;
        display: flex;
        gap: 2.4rem; } }
  .product__carousel .thumbnail {
    border-radius: 1.2rem;
    overflow: hidden;
    cursor: pointer; }
    .product__carousel .thumbnail:hover {
      filter: opacity(0.5); }

.product__details {
  padding: 2.4rem;
  flex-direction: column;
  gap: 2.4rem; }
  @media screen and (min-width: 62.375em) {
    .product__details {
      flex: 1;
      justify-content: center;
      align-items: flex-start; } }

.product .price {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 62.375em) {
    .product .price {
      width: 100%; } }
  .product .price__discount {
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    background-color: #ffede0;
    color: #ff7d1a;
    margin-right: auto;
    margin-left: 1.6rem; }

.product .counter {
  position: relative; }
  @media screen and (min-width: 62.375em) {
    .product .counter {
      width: 100%; } }
  .product .counter input[type="number"] {
    border: 0;
    background-color: #f7f8fd;
    width: 100%;
    text-align: center;
    font-weight: 700;
    border-radius: 0.8rem;
    padding: 1.6rem 0; }
  .product .counter button {
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    top: 50%;
    transform: translateY(-50%); }
  .product .counter .plus {
    right: 2px; }
  .product .counter .minus {
    left: 2px; }

.product .button {
  border: 0;
  background-color: #ff7d1a;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  padding: 1.6rem 0;
  font-weight: 700;
  color: white;
  gap: 1.6rem;
  box-shadow: 0px 8px 16px rgba(255, 166, 0, 0.208);
  justify-content: center; }
  @media screen and (min-width: 62.375em) {
    .product .button {
      width: 100%; } }

.label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff7d1a;
  letter-spacing: 0.1rem; }
  @media screen and (min-width: 62.375em) {
    .label {
      font-size: 1.4rem; } }

.title {
  line-height: 1.2;
  font-size: 2.8rem;
  font-weight: bold;
  color: #1d2025; }
  @media screen and (min-width: 62.375em) {
    .title {
      font-size: 4.8rem; } }

.description {
  color: #68707d; }

.price {
  font-size: 1.6rem;
  font-weight: bold; }
  .price__current {
    color: #1d2025;
    font-size: 2.8rem; }
  .price__original {
    color: #b6bcc8;
    text-decoration: line-through; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #1d2025; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden; }
  body.locked {
    overflow: hidden; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
