$c-p-orange-main: hsl(26, 100%, 55%);
$c-p-orange-light: hsl(25, 100%, 94%);

$c-g-100: hsl(223, 64%, 98%);
$c-g-200: hsl(220, 14%, 75%);
$c-g-300: hsl(219, 9%, 45%);
$c-g-400: hsl(220, 13%, 13%);

// - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-28: 2.8rem;
$fs-48: 4.8rem;

$bs-orange: 0px 8px 16px rgba(255, 166, 0, 0.208);
